/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: rgb(105, 105, 11);
}

/* Header */
header {
    background-color: rgb(161, 151, 55);
    border-bottom: 2px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 0 3rem;
}

.fauxeni {
    width: 5rem;
}

/* Conteneur principal */

.all {
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 170, 19);
}

/* Sections */
.secL,
.secR {
    background-color: rgb(153, 134, 25);
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.secL {
    border-bottom: 2px solid black;
}
.secR {
    border-top: 2px solid black;
}

/* Section centrale */
.text {
    margin: 2rem;
    padding: 1rem;
}



button hover {
    background-color: rgb(0, 65, 185);
}

/* Span cliquable */
#MOT {
    cursor: pointer;
    user-select: none;
}

footer {
    background-color:  rgb(161, 151, 55);
}

/* pc */
@media (min-width: 600px) {
    
    .all{
        display: flex;
        flex-direction: row;
    }

    .secL,
    .secR {
        flex: 1;
    }
    .secL {
        border-right: 2px solid black;
        border-bottom: none;
    }
    .secR{
        border-left: 2px solid black;
        border-top: none;
    }

    .fhp {
        width: 20%;
    }
    
    footer {
        border-top: 2px solid black ;
        padding-bottom: 100%;
    }

}